//body
$clr-primary : #9356DC;
$clr-secondary: #FF79DA;
$clr-tertiary: #99E2D0;
$clr-background-white: #FFFFFF;

//all
$clr-background-lightgrey: #F6F6F6;

//header
$header-margin: 2em;
$clr-background-locate: #eaeaea;
$clr-step-button-hover:#f5edff;

//Section
$clr-green-background: #99E2D0;
$clr-green-text: #229B7E;

//footer
$clr-background-footer: #353535
