//body
$clr-primary : #9356DC;
$clr-secondary: #FF79DA;
$clr-tertiary: #99E2D0;
$clr-background: #FFFFFF;

//header
$header-margin: 2em;
$clr-search-background: #eaeaea;
$clr-button-hover:#f5edff;

//all
$clr-titles-background: #F6F6F6;

//Section
$clr-new-background: #99E2D0;
$clr-new-text: #1C9779;

