//https://openclassrooms.com/forum/sujet/transition-display-avec-delay-possible

.loading{
    position:relative;
    &--1{ 
        overflow:hidden;
//        animation: loading 0.8s 0s linear forwards;
        animation: loading 0.8s 0s linear;
        }
    &--2{ 
        overflow:hidden;
//        animation: loading 0.8s 0.8s linear forwards;
        animation: loading 0.8s 0.8s linear;
    }
    &--3{ 
        overflow:hidden;
//        animation: loading 0.8s 1.6s linear forwards;
        animation: loading 0.8s 1.6s linear;
    }
}

@keyframes loading {
    from {
        height:0px;
        opacity:0;
    }
    20% {
        height: calc(272px*0.2);
        opacity:0.2;
    }
    40% {
        height:calc(272px*0.4);
        opacity:0.4;
    }
    60% {
        height:calc(272px*0.6);
        opacity:0.6;
    }
    80% {
        height:calc(272px*0.8);
        opacity:0.8;
    }
    90% {
        height:calc(272px*0.9);
        opacity:0.9;
    }
    to {
//        height: 100%;
        opacity:1;
    }
}
