
.container_loading{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    &__spinner {
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(175deg, $clr-primary, $clr-secondary);
        font-size: 2em;
        font-family: 'Shrikhand';
        width: 7em;
        height: 7em;
        border-radius: 50%;
        animation: loading_spinner 3s cubic-bezier(.57,-0.19,.32,1) both;
      }
}

.container_page{
    position: absolute;
    top: 0px;
    animation: page_container 0.8s 3.2s ease-in-out both;
  }
  
  @keyframes loading_spinner {
    0% {
        transform: rotate(0deg);
        opacity: 0;
        color: black;
        text-shadow: 0px 8px 8px white;
    }
    10% {
        transform: rotate(30deg);
        opacity: 0.2;
        color: white;
        text-shadow: 0px 8px 8px black;
    }
    20% {
        transform: rotate(60deg);
        opacity: 0.4;
        color: black;
        text-shadow: 0px 8px 8px white;
    }
    30% {
        transform: rotate(90deg);
        opacity: 0.6;
        color: white;
        text-shadow: 0px 8px 8px black;
    }
    40% {
        transform: rotate(120deg);
        opacity: 0.7;
        color: black;
        text-shadow: 0px 8px 8px white;
    }
    60% {
        transform: rotate(360deg);
        opacity: 0.8;
        color: white;
        text-shadow: 0px 8px 8px black;
    }
    70% {
        opacity: 1;
        color: black;
        text-shadow: 0px 8px 8px white;
    }
    80% {
        opacity: 1;
        color: black;
        //text-shadow: 0px 8px 8px black;
        transform: scale(1.5); 
    }
    90% {
        opacity: 1;
        color: black;
        //text-shadow: 0px 8px 8px white;
        transform: scale(1.5);
    }
    95% {
//        text-shadow: 0px 6px 6px black;
        //opacity: 0.4;
        background: white;
        transform: scale(1.5);
    }    
    98% {
        //text-shadow: 0px 2px 2px black;
        //opacity: 0.2;
        background: white;
    }
    100% {
        transform: rotate(360deg);
        opacity: 0;
      }
  }

@keyframes page_container{
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.3;
    }    
    100% {
        opacity: 1;
    }
  }