.header{
    display: flex;
    flex-direction: column;
	align-items: center;
    margin-top: $header-margin;
    background-color: $clr-background;
    text-align: center;
    &_search{
        display: inline-block;
        position: relative;
        width: 100%;
        &__input{
            background-color: $clr-search-background;
            min-height: 2.5em;
            width: 100%;
            text-align: center;
            border: none;
            font-size: 1.2em;
            font-weight: bolder;
            box-shadow: 0px -4px 4px darken($clr-search-background, 10);
            margin-top: 20px;           
        }
        &__icon{
            position: absolute;
            margin-top: 35px;
            margin-left: 25vw;
            font-size: 1.2em;
        }
    }
    &_titles{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $clr-titles-background;
        padding-bottom: 4em;
        width: 100%;   
        &__h1{
            width: 70%;
            margin-top: 1.5em;
//            font-family: 'Shrikhand';
            font-weight: 900;
            //font-weight: bolder;
            font-size: 1.8em;
        }    
        &__h2{
            width: 90%;
            font-weight: lighter;
            font-size: 1.3em;
        }
        &__h3{
            width: 90%;
            font-size: 1.8em;
            font-weight: 900;
            text-align: left;
            margin-top: 2em;
        }
        &__button{
            background: linear-gradient(175deg, $clr-secondary, $clr-primary);
            color: $clr-background;
            height: 3em;
            font-weight: 700;
            font-size: 1.3em;
            border-style: none;
            border-radius: 2em;
            margin-top: 0.8em;
            padding-left: 2em;
            padding-right: 2em;
        }
    }

    &_selection{
        display: flex;
        flex-direction: column;
	    align-items: center;
        width: 100%;
        &__button{
            width: 90%;
            max-width: 25em;
            margin-top: 2em;
            height: 5em;
            border: none;
            border-radius: 1.7em;
            background-color: $clr-titles-background;
            font-size: 1.2em;
            font-weight: 900;
            &:hover{
//                background-color: lighten($clr-primary, 30);
                background-color: #f5edff;
            }
            &--icon{
                &:hover{
                color: $clr-primary;
                }
            }    
        }
    }
}

