.gray{
    background-color: $clr-background-lightgrey;;
}
.image{
    object-fit: cover;
    width: 100%;
    height: 16.3em;
}
.page{
    position: relative;
    background-color: $clr-background-lightgrey;
    border-top-left-radius: 3em;
    border-top-right-radius: 3em;
    top: -3em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-bottom: 3em;
    &__hero{
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        width: 95%;
        font-family: 'Shrikhand';
        font-size: 1.8em;
        padding-top: 1em;
    }
}
.fa-heart{
    margin-top: 0.2em;
}
.dishes{
    margin-top: 2.5em;
    font-size: 1.1em;
    font-family: 'Roboto';
    position: relative;
    line-height: 1em; 
    width: 95%;
    max-width: 400px;
    opacity: 0;
    &::before { //for partial underline
        position: absolute;
        left: 0;
        top: 1em;
        height: 0;
        width: 45px;
        content: '';
        border-top: 0.2em solid $clr-tertiary;
      }
}
.dish{
    margin-top: 1em;
    background-color: $clr-background-white;
    border-radius: 1em;
    &__title{
        font-weight: bolder;
        margin: 0.5em;
        padding-top: 0.5em;
    }
    &__info{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        &__comment{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 0.5em;
            font-size: 0.8em;
        }
        &__price{
            font-weight: bolder;
            margin-right: 1em;
        }
    }
}

.btn-order{ //for design see _article/hero__button 
    display: flex;
    justify-content: center;
    background-color: $clr-background-lightgrey;
    padding-bottom: 1em;
    position: relative;
    top: -3em;
}